#msg-box5-j .mbr-header__text {
  color: #ffffff;
}
#msg-box5-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-j .mbr-article {
  color: #ffffff;
}
#msg-box5-i .mbr-header__text {
  color: #ffffff;
}
#msg-box5-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-i .mbr-article {
  color: #ffffff;
}
